body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}

.Event {
  max-width: 300px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.Event img {
  width: 100%;
  height: auto;
}




.Event-content{
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .Event{
    max-width: 500px;
  }
}

.events-container {
  display: flex;
}





.Event h6, h5 {
  line-height: 0px;
  align-content: center;
}

.pink {
  background: pink;
}

.blue {
  background: rgb(190, 219, 229);
}

.green {
  background: rgb(202, 245, 222);
} 

